<div class="mb-3">
  <%= f.label :user_id, "User", class: "form-label" %>
  <%= f.collection_select :user_id, @users, :id, :email, { selected: @user_permission.user_id.presence || params[:user_id], include_blank: "Select user" }, { required: true, class: "form-select" } %>
</div>
<div class="mb-3">
  <%= f.label :permission_id, "Permission", class: "form-label" %>
  <%= f.collection_select :permission_id, @permissions, :id, lambda { |p| p.value.present? ? "#{p.name} (#{p.value})" : p.name }, { include_blank: "Select permission" }, { required: true, class: "form-select" } %>
</div>
